body {
  background-color: tan;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 10%;
      }
h1{
  font-size: 1.5em;
}
h2{
  font-size: large;
}
h2 {
    color: green;
    }
  #ceai{
      border-color: green;
      border-style: dotted;
      }
.produs{
    border-width: medium;
    border-style: solid;
    }
.coffee {
  border-color: red;
  }
  #mission{
    line-height: 1.6em;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: red;
    padding: 1%;
    margin-right: 58%;
    margin-left: 15%;
    margin-color: green;
  }
  .guarantee{
    box-sizing: border-box;/*stabileste "width" pentru intreaga boxa*/
    /*box-sizing: content-box; (stabileste "width" doar pentru continutul din boxa)*/
    border-color: red;
    border-width: 2px;
    border-style: dashed;
    background-color: #a7cece;
    line-height: 1.6em;/*distanta dintre linii*/
    padding: 3px;
    padding-left: 80px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 80px;
    max-width: 400px;
    text-align: center;
    /*float: right;/*face ca elementul sa pluteasca pe partea dreapta*/
  }

  a {
    color: white;
    text-decoration: none;/*nesubliniat*/
  }
a:link{

}/*link nevizitat*/
a:visited{
  color: #888888;/*gri pur*/
}/*link vizitat*/
a:hover{
  text-decoration: underline;/*subliniat*/
}/*culoare cand mous-ul e pe link*/

.song{
  font-style: italic;
}
.artist{
  font-weight: bold;
}

#ticket{
  position: fixed;
  top: 50px;
  right: 50px;
  width: 290px;
}/* pozitioneaza fix elementul */
