html,body{
  background-color: #ffeead;
  font-size: 2em;
  font-family: sans-serif;
}
div{
  border-width: medium;
  border-color: red;
  border-style: solid;
  width: 300PX;
}
div:nth-child(1)/*selecteaza primul copil*/{
    background-color: tan;
}
div:nth-child(2){
  background-color: yellow;
}
div:nth-child(3){
  background-color: lightblue;
}
#container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;

}
