circle{
  stroke: black;
  stroke-width:2px;
  stroke-opacity:1; /*transparenta*/
}

#pulse{
  fill: green;
  stroke-opacity: 1;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes pulse { /*animatie*/
    from {
      stroke-opacity:1;
      stroke-width: 3px;
      transform: scale(0.5);
    }
    to {
      stroke-opacity:0;
      stroke-width: 0px;
      transform: scale(8);
    }
}
